/* GOOGLE FONT */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

/* RESET */

*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family:'Poppins',sans-serif;
}

body{
  background:#F6F3FF;
}

/* MAIN CONTAINER */
.main-container{
  width:100%;
  min-height:100vh;
  padding-bottom:50px;
}
